@model IEnumerable<WebApplication7.Models.Address>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<script>
    x = window.location.href.split("/");
    console.log("VALUE:", x[x.length - 1]);
</script>
@Html.

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Customer.CPF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MoreInfo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostalCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Region)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Street)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.CPF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoreInfo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostalCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Region)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Street)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IDAddress }) |
                @Html.ActionLink("Details", "Details", new { id = item.IDAddress }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IDAddress })
            </td>
        </tr>
    }

</table>

