@model WebApplication7.Models.Phone

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Phone</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customer.CPF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.CPF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NamePhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NamePhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDPhone }) |
    @Html.ActionLink("Back to List", "Index")
</p>
