@model IEnumerable<WebApplication7.Models.Phone>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Customer.CPF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsPrivate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NamePhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.CPF)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsPrivate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NamePhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.IDPhone }) |
            @Html.ActionLink("Details", "Details", new { id = item.IDPhone }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.IDPhone })
        </td>
    </tr>
}

</table>
